services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_ENV: ${APP_ENV}
        PORT: ${PORT}
        EMAIL_USER: ${EMAIL_USER}
        EMAIL_PASS: ${EMAIL_PASS}
        MONGO_URL: ${MONGO_URL}
        REDIS_URL: ${REDIS_URL}
    image: rve-backend
    env_file:
      - .env.dev
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
      - redis

  redis:
    image: redis:7.0
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis:/data

  mongodb:
    build:
      context: ./test/mongo
      dockerfile: Dockerfile
    image: mongo:8.0
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
volumes:
  redis:
    driver: local
  mongodata:
    driver: local
